<footer>
  <br>
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="container">
    <div class="row">
      <div class="col">
        <span class="text-center">{%- include social.html -%}</span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <br>
          <p class="text-center text-muted">Copyright © Michael-Miller.info 2013-
              <script type="text/javascript">
                  var curDate = new Date();
                  var curYear = curDate.getFullYear();
                  document.write(curYear);
              </script>
            </p>
      </div>
    </div>
  </div>
</footer>
